body {
    overflow-x: hidden;
}

.custom-sidebar {
    width: 150px;
    background-color: #FFFFFF;
    height: calc(100vh - 58px);
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 600;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #364152;
    background-color: #f8fcfa;
}

.nav-link {
    color: #697586;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 16px;
}

.nav-link:hover,
.nav-link.active {
    background-color: #F8FAFC;
    color: #364152;
}

.nav-link svg {
    fill: #697586;
    width: 1.5em;
    height: 1.5em;
    margin-right: 8px;
}

.nav-link.active svg {
    fill: #364152;
}

.content-area {
    background-color: #F4F6F5;
    margin-left: 200px;
    padding: 20px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.header {
    background-color: #007AFF;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    font-size: 18px;
}

.header .btn-link {
    color: white;
}

.header .btn-link:hover {
    color: rgba(255, 255, 255, 0.8);
}
