body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #007AFF;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header h1 {
    margin: 0;
    font-size: 18px;
}

.notification-button {
    display: flex;
    align-items: center;
}

.notification-button button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

.notification-button button i {
    font-size: 1.5em;
}

.custom-sidebar {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 200px;
    height: calc(100vh - 58px);
    position: fixed;
    z-index: 600;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.menu-container {
    flex-grow: 1;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0; 

}

.nav-item {
    padding-bottom: 16px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: inherit;
    padding: 12px;
    color: #697586;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 16px;
}

.nav-link:hover,
.nav-link.active {
    background-color: #F8FAFC;
    color: #364152;
}

.nav-link:hover {
    background-color: #e2e6ea;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-right: 8px;
}

.nav-text {
    margin-left: 0.5rem;
}

@media (max-width: 576px) {
    .nav-text {
        display: none;
    }
}

.content-area {
    margin-left: 200px;
    padding: 12px 24px;
    height: calc(100vh - 56px);
    background-color: #F4F6F5;
    overflow-y: auto;
    overflow-x: hidden;
}

